<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Executar Comando</title>
</head>
<body>
  <h1>Executar Comando</h1>
  <form id="formulario">
    <label for="comando">Comando:</label>
    <input type="text" id="comando" name="comando" required>
    <br>
    <label for="arquivo">Arquivo:</label>
    <input type="file" id="arquivo" name="arquivo" required>
    <br>
    <label for="nomeArquivo">Nome do Arquivo:</label>
    <input type="text" id="nomeArquivo" name="nomeArquivo" required>
    <br>
    <button type="submit">Executar</button>
  </form>
  <p id="status"></p>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
  
    socket.on('status', (mensagem) => {
      console.log('Status:', mensagem);
  
      // Exiba a mensagem de status no HTML, por exemplo, em um elemento de parágrafo com id "status"
      const statusElement = document.getElementById('status');
      statusElement.textContent = mensagem;
    });
  </script>
  <script>
    document.getElementById('formulario').addEventListener('submit', function(event) {
      event.preventDefault();

      const formulario = new FormData(this);

      fetch('/executar-comando', {
        method: 'POST',
        body: formulario
      })
      .then(response => {
        if (response.ok) {
          response.blob().then(blob => {
            const url = URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.href = url;
            link.download = formulario.get('nomeArquivo');
            link.click();
            URL.revokeObjectURL(url);
          });
        } else {
          console.error('Erro:', response.statusText);
        }
      })
      .catch(error => {
        console.error('Erro:', error);
      });
    });
  </script>
</body>
</html>
